# ---
# title: Shellcheck configuration file
# authors:
#   - Steffen Klug <steffen.klug@de.bosch.com>
# date: 2023-08-22
# keywords: [infrastructure, linting]
# comment: |
#   Disable/Enable shellcheck checks
# ---

# Disable SC2155 (warning):
#         Declare and assign separately to avoid masking return values.
disable=SC2155
